<%- include('../partials/header'); -%>
<%- include('../partials/nav.ejs'); -%>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="row">
    <% foundObjects.forEach(function(foundObject) { %>
        <div class="card m-5" style="width: 30rem;" >
            <div class="card-header"><%= foundObject %></div>
            <div class="card-body">
                They've got allen wrenches, gerbil feeders, toilet seats, electric heaters
                Trash compactors, juice extractors, shower rods and water meters
                Walkie-talkies, copper wires safety goggles, radial tires
                BB pellets, rubber mallets, fans and dehumidifiers
                Picture hangers, paper cutters, waffle irons, window shutters
                Paint removers, window louvers, masking tape and plastic gutters
                Kitchen faucets, folding tables, weather stripping, jumper cables
                Hooks and tackle, grout and spackle, power foggers, spoons and ladles
            </div>
        </div>
    <% });%>
</div>

<%- include('../partials/footer.ejs') -%>
